.mainInformes {max-width: 800px; margin: auto;}
.opa04 {opacity: 0.4;}
.informePlato {width: 100%;}
.informePlato article {margin-bottom: 40px;}
.platoTitulo h2 {font-size: 20px; text-align: center;}
.platoValoracion {display: flex; flex-wrap: nowrap; align-items: center; justify-content: space-between; align-content: center;}
.platoValoracion img {width: 45%; height: auto;}
.platoValoracion .platoNombre {width: 50%;}
.platoValoracion .platoEstrellas {display: flex; justify-content: space-around; flex-wrap: nowrap;}
.platoValoracion .platoEstrellas img {width: auto; height: auto;}

/*Tabla evaluación*/
.mainInformes .lista-clases { background-color: transparent; border-bottom: 1px solid rgba(0,0,0,.125); padding: .75rem 1.25rem; position: relative; border-top-left-radius: .25rem; border-top-right-radius: .25rem}
.mainInformes .lista-clases h3 { width: 85%; }
.mainInformes .lista-clases h3 i { -webkit-transition: all 0.3s 0s ease; -moz-transition: all 0.3s 0s ease; -o-transition: all 0.3s 0s ease; transition: all 0.3s 0s ease;}
.mainInformes .lista-clases h3[aria-expanded="false"] i { transform: rotate(-90deg); -webkit-transition: all 0.3s 0s ease; -moz-transition: all 0.3s 0s ease; -o-transition: all 0.3s 0s ease; transition: all 0.5s 0s ease;}
.mainInformes table.gridjs-table { width: 100%;}
.mainInformes th.gridjs-th, .mainInformes td.gridjs-td { padding: 5px !important; text-align: center;}
.mainInformes th.gridjs-th:first-child, .mainInformes td.gridjs-td:first-child { width:40% !important; text-align: left; }
.mainInformes .gridjs-td select { background: none; border: none; }

#comments {font-size: 15px; resize: none;}

@media screen and (max-width:350px){
    .mainInformes th.gridjs-th:first-child, .mainInformes td.gridjs-td:first-child {width:35%; text-align: left;}
}
@media (min-width: 601px), handheld and (orientation: landscape) {
.informePlato {width: 50%; margin: 0 auto;}
.informePlato .platoNombre p {font-size: 18px;}
.platoValoracion .platoEstrellas {justify-content:left;}
}
@media (min-width: 1024px) and (orientation: landscape) {
.informePlato {max-width: 500px; margin: auto;}
}