{
  "extends": ["eslint:recommended", "plugin:meteor/recommended", "plugin:react/recommended"],
  "plugins": ["meteor", "react"],
  "env": {
    "browser": true,
    "node": true,
    "meteor": true
  },
  "rules": {
    "no-unused-vars": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
